version: "3"

services:

  base-api: &base-api
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/home/node/app/src
      - ./prisma:/home/node/app/prisma
      - ./package.json:/home/node/app/package.json
      - ./pnpm-lock.yaml:/home/node/app/pnpm-lock.yaml

  api:
    container_name: api
    <<: *base-api
    ports:
      - "3333:3333"
    env_file:
      - ./.env
    command: ["sh", "-c", "pnpm dev"]
    depends_on:
      database:
        condition: service_healthy
    restart: always
    networks:
      - api-network


  database:
    container_name: postgres
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"
    ports:
      - 5432:5432
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - api-network

volumes:
  postgres_data:

networks:
  api-network:
    driver: bridge